In [1]:
import pandas as pd
Customer=pd.read_csv(r'E:\data set\Customer.csv')
Customer.head()

,Customer ID,Overall Delivery Experience (Rating),Food Quality (Rating),Speed of Delivery (Rating),Order Accuracy
0,1,5.0,3.0,4.0,Yes
1,2,3.0,4.0,3.0,Yes
2,3,4.0,5.0,2.0,Yes
3,4,5.0,3.0,4.0,Yes
4,5,2.0,5.0,1.0,Yes

In [8]:
numerical_cols = Customer.select_dtypes(include=['float64', 'int64']).columns
categorical_cols = Customer.select_dtypes(include=['object']).columns
print("Number of missing values after imputation:")
print(Customer.isnull().sum())

Number of missing values after imputation:
Customer ID                             0
Overall Delivery Experience (Rating)    0
Food Quality (Rating)                   0
Speed of Delivery (Rating)              0
Order Accuracy                          0
dtype: int64

Encoding Categorical Variables

In [10]:
# Apply one-hot encoding to categorical columns
Customer_encoded = pd.get_dummies(Customer, columns=categorical_cols, drop_first=True)

# Display the first few rows of the encoded dataset
print("First few rows of the encoded dataset:")
Customer_encoded.head()

First few rows of the encoded dataset:

,Customer ID,Overall Delivery Experience (Rating),Food Quality (Rating),Speed of Delivery (Rating),Order Accuracy_Yes
0,1,5.0,3.0,4.0,True
1,2,3.0,4.0,3.0,True
2,3,4.0,5.0,2.0,True
3,4,5.0,3.0,4.0,True
4,5,2.0,5.0,1.0,True

Standardizing Numerical Features

In [13]:
from sklearn.preprocessing import StandardScaler
# Identify numerical columns again in the encoded dataset
numerical_cols_encoded = Customer_encoded.select_dtypes(include=['float64', 'int64']).columns

scaler = StandardScaler()
Customer_encoded[numerical_cols_encoded] = scaler.fit_transform(Customer_encoded[numerical_cols_encoded])
print("First few rows of the standardized dataset:")
Customer_encoded.head()

First few rows of the standardized dataset:

,Customer ID,Overall Delivery Experience (Rating),Food Quality (Rating),Speed of Delivery (Rating),Order Accuracy_Yes
0,-1.731888,1.211543,-0.231745,0.491018,True
1,-1.731561,-0.224320,0.483223,-0.226484,True
2,-1.731235,0.493611,1.198191,-0.943985,True
3,-1.730909,1.211543,-0.231745,0.491018,True
4,-1.730582,-0.942251,1.198191,-1.661487,True

In [4]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

numerical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())
])


categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])


preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols)
    ])


X = Customer.drop('satisfaction', axis=1)
y = Customer['satisfaction'].apply(lambda x: 1 if x == 'satisfied' else 0)  # Convert to binary target

X_preprocessed = preprocessor.fit_transform(X)

NameError: name 'numerical_cols' is not defined

 Evaluating the Model

In [5]:
import seaborn as sns
import matplotlib.pyplot as plt
y_pred = model.predict(X_test)


accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')
Accuracy: 0.84

conf_matrix = confusion_matrix(y_test, y_pred)


plt.figure(figsize=(8, 6))
sns.heatmap(conf_matrix, annot=True, fmt='d', cmap='Blues', xticklabels=['Not Satisfied', 'Satisfied'], yticklabels=['Not Satisfied', 'Satisfied'])
plt.xlabel('Predicted')
plt.ylabel('Actual')
plt.title('Confusion Matrix')
plt.show()

NameError: name 'model' is not defined